// Transition Fade
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.route-fade-enter,
.route-fade-leave {
  opacity: 0;
}

//Transition Slide

.slide-enter{

}
.slide-enter-active{
    animation: slide-left .3s linear forwards;
}
.slide-leave{
    
}
.slide-leave-active{
    animation: slide-right .3s linear forwards;
}

@keyframes slide-left {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes slide-right {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}






.sign-up-slide-enter{

}
.sign-up-slide-enter-active{
    animation: sign-up-slide-left .3s linear forwards;
}
.sign-up-slide-leave{
    
}
.sign-up-slide-leave-active{
    animation: sign-up-slide-right .3s linear forwards;
}

@keyframes sign-up-slide-left {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes sign-up-slide-right {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(100%);
    }
}


